@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Raleway:wght@600&display=swap');

* {
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
    color: white;
}

body {
    background-color: #09090A;
    height: fit-content;

    display: flex;
    justify-content: center;
}





header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 48px;

    width: 100%;
    position: fixed;
}





form {
    display: flex;
    font-family: serif;

    padding: 180px 48px 48px 48px;
    width: 100%;
}



input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;

    width: 64px;
    height: 64px;

    background-color: #18181B;
    border: 1px solid #27272A;
    border-radius: 8px;

    transition: 0.25s;
}

input[type=checkbox]:checked {
    background-color: #8B5CF6;
    border: 1px solid #A78BFA;
}

input[type=checkbox]:hover {
    border: 1px solid #A78BFA;
    box-shadow: 0px 0px 5px 0px #A78BFA;
}



#days {
    display: flex;
    gap: 48px;

    padding: 15px 0px;
    margin-left: 32px;

    width: 864px;
    overflow-x: auto;
}

::-webkit-scrollbar {
    background-color: #18181B;
}

::-webkit-scrollbar-thumb {
    background-color: #8B5CF6;
    border-radius: 20px;
}

.day {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 24px;
}



#habits-icons {
    display: flex;
    flex-direction: column;
    gap: 30px;

    margin-top: 60px;
}

.habits {
    font-size: 32px;

    width: 64px;
    height: 64px;

    display: flex;
    justify-content: center;
    align-items: center;
}





@media only screen and (max-width: 641px) {

    #days{
        width: 20vw;
        overflow-x: auto;
    }

    form{
        width: 100%;
    }

}


@media only screen and (max-width: 1007px) {

    #days{
        width: 80vw;
        overflow-x: auto;
    }

}


@media only screen and (min-width: 1008px) {

    #days{
        width: 100vw;
        overflow-x: auto;
    }

}